#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#primary-nav {
  float: right;
  background-color:#565656;
  border: 4px solid #505050;
  border-radius: 12px;
  padding: 5px;
  font-size: 24px;
}
#maintxt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float:none
}
#par1 {
  background-color: #505050;
  border: 3px solid hsl(199, 77%, 71%);
  p.double {border-style: double;}
  border-radius: 12px;
  padding: 5px;
  width: 600px ;
  }
#prov{
  background-color:#565656;
  border: 4px solid #505050;
  border-radius: 12px;
  padding: 5px;
  font-size: 20px;
  width: 600px ;
}
#icallhome{
  background-color:#565656;
    border: 4px solid #505050; 
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
}
