.text{
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid hsl(199, 77%, 71%); 
    border-radius: 12px;
    padding: 5px;
    font-size: 48px;
    width: 90%;
}
/*copyed from w3schools*/
.collapsible {
    padding: 5px;
    text-align: left;
    font-size: 24px;
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid hsl(199, 77%, 71%); 
    border-radius: 12px;
    padding: 5px;
    font-size: 48px;
    width: 90%;
  }
  
  .active, .collapsible:hover {
    background-color: #535353;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #565656;
    font-size: 24px;
    border: 4px solid #505050; 
    border-radius: 12px;
    width: 88%;
  }