#game-title{
    font-size: 104px;
    text-align: center;
    margin: auto;
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: #505050;
}
.fullscrn{
    text-align: center;
    margin: auto;
    background-color: hsl(199, 77%, 71%) ;
    border: 4px solid #565656; 
    padding: 15px 32px;
    text-align: center;
     text-decoration: none;
     display: inline-block;
    font-size: 24px;
}