#p1{
    background-color:#565656;
    border: 4px solid hsl(199, 77%, 71%); 
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
    width: 300PX;
    height: 370px;
    } 
    #idklol{width: 2%px; border: 3px solid #565656;
        p.double {border-style: double;}
        border-radius: 12px; float: right; width: 12;}
#gootel{
    float: left;
    margin-bottom: 0px;
    padding-left: 0%;
    margin-left: 0%;
    padding: 0%;
}
#abuotme{
    font-size: 24px;
    width: 300PX;
    p.double {border-style: double;}  
    background-color:#565656;
    border: 4px solid #505050; 
    border-radius: 12px;
    padding: 5px;
    font-size: 24px;
}
/*w3schools code*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}